<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr class="border-thick">
      <!-- Speaker 01 -->
      <a class="anchor"></a>
      <div class="row">
        <div class="col-sm-3">
          <div class="speaker-item"> <a href="#">
            <figure class="speaker accent-bg"> <img src="/assets/media/speakers/<%- page.photo %>" alt="Speaker" class="img-responsive center-block" height="500" width="500">
              <figcaption>
                <p class="text-uppercase accent"><%- page.time %></p>
                <!-- <p>04/10/2016 - 3PM</p> -->
              </figcaption>
            </figure>
            </a>
            <ul class="list-inline social-buttons">
              <% if (page.twitter) { %><li> <a class="fa fa-twitter fa-lg" href="https://twitter.com/<%- page.twitter %>" target="_blank"></a></li> <% } %>
              <% if (page.website) { %><li> <a class="fa fa-external-link fa-lg" href="<%- page.website %>" target="_blank"></a></li> <% } %>
              <% if (page.github) { %><li> <a class="fa fa-github fa-lg" href="https://github.com/<%- page.github %>" target="_blank"></a></li> <% } %>
              <% if (page.gitlab) { %><li> <a class="fa fa-gitlab fa-lg" href="<%- page.gitlab %>" target="_blank"></a></li> <% } %>
            </ul>
          </div>
        </div>
        <div class="col-sm-9">
          <h2 class="accent"><i class="fa fa-star"></i> <%- page.speaker %></h2>
          <h3 class="talktitle">
            <span style='color: #3281C4; font-weight: bold;'><%- page.lightning ? "Lightning Talk:" : "Full-length Talk:" %></span>
            <%- page.talk %>
          </h3>
          <hr class="border-light mrgn-30-top">
          <p class="lead accent"><%- page.content %></p>
          <hr class="border-light mrgn-30-top">
          <p><%- page.bio %></p>
        </div>
      </div>
      <!-- /.Speaker 01 -->
    </div>
  </div>
</div>
