
<!-- Section Schedule -->
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Schedule</span></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Schedule  -->

          <!-- Nav tabs -->
            <ul id="toolkit" class="nav nav-tabs nav-justified" role="tablist">
              <li class="active"><a href="#conference" role="tab" data-toggle="tab"><span class="accent text-bold text-big">Conference</span><br/><span class="small">Community Hall</span></a></li>
              <li>
                <a href="#workshop" role="tab" data-toggle="tab">
                    <img src="assets/media/sponsors/okcoders-tight-logo.png" alt="OK Coders" class="img-responsive" width="101" height="20" style="display: inline; margin-bottom: .17em;" />
                    <span class="accent text-bold text-big">Workshop</span>
                    <br/>
                    <span class="small">Classroom</span>
                </a>
              </li>
            </ul>
          <!-- /.Nav tabs -->

        <div class="tab-content">

      <!-- Conference Schedule -->
        <div id="conference" class="tab-pane fade active in">

<%- partial("_partial/schedule-registration-opening") %>

                <% site.pages.each(function(page){ if(page.speaker === "Ryan Hoegg") { %>
                  <%- partial("_partial/schedule-speaker", {page: page}) %>
                <% }}) %>

                <% site.pages.each(function(page){ if(page.speaker === "Greg Tatum") { %>
                  <%- partial("_partial/schedule-speaker", {page: page}) %>
                <% }}) %>

                <% site.pages.each(function(page){ if(page.speaker === "Jane Prusakova") { %>
                  <%- partial("_partial/schedule-speaker", {page: page}) %>
                <% }}) %>

<%- partial("_partial/schedule-lunch") %>

<%- partial("_partial/schedule-lightning-talks") %>

                <% site.pages.each(function(page){ if(page.speaker === "Rob Carr") { %>
                  <%- partial("_partial/schedule-speaker", {page: page}) %>
                <% }}) %>

                <% site.pages.each(function(page){ if(page.speaker === "Greg Avola") { %>
                  <%- partial("_partial/schedule-speaker", {page: page}) %>
                <% }}) %>

<%- partial("_partial/schedule-closing-socializing") %>


            </div> <!-- tab-pane -->
        <!-- /. Conference Schedule -->

        <!-- Workshop Schedule -->
            <div id="workshop" class="tab-pane fade">

            <div style="text-align: center;">
                <div style='color:#666; padding: 1em;'>Building an asteroids-like game with HTML5 &lt;canvas&gt;</div>
                <img src="assets/media/image-backgrounds/asteroids.png" />
                <div style="padding: 1em; color: #ff1744">Note: Intermediate JavaScript usage</div>
            </div>

<%- partial("_partial/schedule-registration-opening") %>

<div class="row">
  <div class="col-xs-4 col-sm-2 text-center">
    <p class="text-big text-bold">9:00am - 11:50am</p>
    <p><img src="assets/media/speakers/SergeiGolimbievsky.jpg" alt="Speaker" class="img-responsive center-block img-circle img-speaker"></p>
  </div>
  <div class="col-xs-8 col-sm-10">
    <p class="text-big text-bold text-uppercase">
        Workshop
    </p>
    <p>
      Sergei Golimbievsky<br/>
      <span style='color:#666;'>Building an asteroids-like game with HTML5 &lt;canvas&gt;</span>
      <ul>
          <li>HTML5 Canvas introduction</li>
          <li>Basic shapes and drawing</li>
          <li>Animation with Canvas</li>
          <li>Adding enemies and tracking states</li>
          <li>Collision detection</li>
          <li>Bringing the game to life</li>
      </ul>
    </p>
  </div>
</div>

<hr class="border-light">

<%- partial("_partial/schedule-lunch") %>

<%- partial("_partial/schedule-lightning-talks") %>

<div class="row">
  <div class="col-xs-4 col-sm-2 text-center">
    <p class="text-big text-bold">2:20pm - 4:20pm</p>
    <p><img src="assets/media/speakers/SergeiGolimbievsky.jpg" alt="Speaker" class="img-responsive center-block img-circle img-speaker"></p>
  </div>
  <div class="col-xs-8 col-sm-10">
    <p class="text-big text-bold text-uppercase">
        Workshop
    </p>
    <p>
      Sergei Golimbievsky<br/>
      <span style='color:#666;'>Building an asteroids-like game with HTML5 &lt;canvas&gt;</span>
      <ul>
          <li>HTML5 Canvas introduction</li>
          <li>Basic shapes and drawing</li>
          <li>Animation with Canvas</li>
          <li>Adding enemies and tracking states</li>
          <li>Collision detection</li>
          <li>Bringing the game to life</li>
      </ul>
    </p>
  </div>
</div>

<hr class="border-light">

<%- partial("_partial/schedule-closing-socializing") %>

            </div> <!-- tab-pane -->
        <!-- /. Workshop Schedule -->

        </div> <!-- tab-content -->

      </div>
    </div>
    <!-- /. Schedule  -->
  </div>
</section>
<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
        </div>
      </div>
    </div>

    <!-- Speakers List -->
    <div class="row">
      <% site.pages.each(function(page){ if(page.speaker) { %>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="speaker-item"> <a href="<%- page.path %>">
            <figure class="speaker accent-bg">
              <img src="<%- page.photo %>" alt="Speaker" class="img-responsive center-block" height="300" width="300">
              <figcaption>
                <p class="text-uppercase accent"><%- page.talk %></p>
                <p><%- page.time %></p>
              </figcaption>
            </figure>
            </a>
            <p>
              <span class="speaker-accent"><%- page.speaker %>&nbsp;</span><br>
              <span class="speaker-position"><%- page.position %>&nbsp;</span><br>
              <span class="speaker-company"><%- page.company %>&nbsp;</span>
            </p>
          </div>
        </div>
      <% }}) %>
    </div>
    <!-- /.Speakers List -->
</div>
<!-- /.container -->
</section>
<!-- /.Section Speakers -->

<!-- Section Stay -->
<section id="stay">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Stay</span></h2>
          <p class="subtitle text-center">Stick around downtown Tulsa for the weekend. There's plenty to see and do ...</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Stay List -->
    <div class="row sponsor-row text-center">
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='http://thebradyartsdistrict.com/?q=first-friday-art-crawl' target='_blank'>First Friday Art Crawl</a></h4>
        <a href='http://thebradyartsdistrict.com/?q=first-friday-art-crawl' target='_blank'>
          <img class="img-responsive center-block" src="http://ovac-ok.org/wp-content/uploads/2014/03/BradyArtsDistrict_logo.jpg" width="150"/>
        </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='https://www.eventbrite.com/e/civic-tech-tulsa-tickets-25215937548' target='_blank'>Saturday: Civic Tech: Tulsa</a></h4>
        <a href='https://www.eventbrite.com/e/civic-tech-tulsa-tickets-25215937548' target='_blank'>
          <img class="img-responsive center-block" src="http://media2.govtech.com/images/770*1000/National+Day+of+Civic+Hacking.jpg" width="300" />
        </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='http://ts1.glitnirticketing.com/tsticket/web/ev_list.php' target='_blank'>Saturday: Tulsa Roughnecks vs. OKC Energy</a></h4>
        <a href='http://ts1.glitnirticketing.com/tsticket/web/ev_list.php' target='_blank'>
          <img class="img-responsive center-block" src="https://pbs.twimg.com/profile_images/693450353619021824/rt6ZzJx_.jpg" width="200"/>
        </a>
      </div>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">Hotel</h2>
      <a href='http://www.marriott.com/hotels/travel/tuldt-fairfield-inn-and-suites-tulsa-downtown/' target='_blank'>
        <img class="img-responsive center-block" src="http://free-hotel-coupons.jelastic.servint.net/wp-content/uploads/2015/03/fairfield-inn-logo.gif" width="300"/>
      </a>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">Ride</h2>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='https://www.uber.com/cities/tulsa/' target='_blank'>Uber</a></h4>
          <a href='https://www.uber.com/cities/tulsa/' target='_blank'>
            <img class="img-responsive center-block" src="https://lh3.googleusercontent.com/aMoTzec746RIY9GFOKMjipqBShsKos_KxeDtS59tRp4-ePCpGqW2bS-ySyUEL6q3gkA=w300" width="300"/>
          </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='https://www.lyft.com/cities/tulsa#!' target='_blank'>Lyft</a></h3>
          <a href='https://www.lyft.com/cities/tulsa#!' target='_blank'>
            <img class="img-responsive center-block" src="https://lh5.ggpht.com/CfRup8ZMEbNpd4sf8PDUWzbnFIq0QINZpJ96M6V0-8wLmyqKD0ORSqPOq5EKdL1OskE=w300" width="300"/>
          </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <h4><a href='http://thebradyartsdistrict.com/?q=about-loop-downtown-shuttle' target='_blank'>The Loop</a></h4>
          <a href='http://thebradyartsdistrict.com/?q=about-loop-downtown-shuttle' target='_blank'>
            <img class="img-responsive center-block" src="http://content.screencast.com/users/groovecoder/folders/Jing/media/09790f5f-e5c1-49e7-8ddd-6432281675e5/00002247.png" width="300"/>
          </a>
      </div>
    </div>
  </div>
<!-- /.container -->
</section>

<section id="tickets">
  <p class="text-center">
    <a href="https://ti.to/techlahoma/200ok" class="btn btn-primary btn-lg">Buy Tickets</a>
  </p>
</section>

<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Schedule</span></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Conference Schedule -->
        <div id="conference" class="tab-pane fade active in">
          <%- partial("_partial/schedule-registration-opening") %>

            <% site.pages.each(function(page){ if(page.speaker === "Jane Prusakova") { %>
              <%- partial("_partial/schedule-speaker", {page: page}) %>
            <% }}) %>

            <% site.pages.each(function(page){ if(page.speaker === "Vance Lucas") { %>
              <%- partial("_partial/schedule-speaker", {page: page}) %>
            <% }}) %>

            <% site.pages.each(function(page){ if(page.speaker === "Kassandra Perch") { %>
              <%- partial("_partial/schedule-speaker", {page: page}) %>
            <% }}) %>

            <%- partial("_partial/schedule-lunch") %>
            <%- partial("_partial/schedule-lightning-talks") %>

            <% site.pages.each(function(page){ if(page.speaker === "Kanat Bekt") { %>
              <%- partial("_partial/schedule-speaker", {page: page}) %>
            <% }}) %>

            <% site.pages.each(function(page){ if(page.speaker === "Clement Ho") { %>
              <%- partial("_partial/schedule-speaker", {page: page}) %>
            <% }}) %>

          <%- partial("_partial/schedule-closing-socializing") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Speakers List -->
<div class="row">
  <% site.pages.each(function(page){ if(page.speaker) { %>
    <div class="col-md-3 col-sm-6 text-center">
      <div class="speaker-item"> <a href="<%- page.path %>">
        <figure class="speaker accent-bg">
          <img src="<%- page.photo %>" alt="Speaker" class="img-responsive center-block" height="300" width="300">
          <figcaption>
            <p class="text-uppercase accent"><%- page.talk %></p>
            <p><%- page.time %></p>
          </figcaption>
        </figure>
        </a>
        <p>
          <span class="speaker-accent"><%- page.speaker %>&nbsp;</span><br>
          <span class="speaker-position"><%- page.position %>&nbsp;</span><br>
          <span class="speaker-company"><%- page.company %>&nbsp;</span>
        </p>
      </div>
    </div>
  <% }}) %>
</div>
<!-- /.Speakers List -->

<section id="tickets">
  <p class="text-center">
    <a href="https://ti.to/techlahoma/200ok-2017" class="btn btn-primary btn-lg">Buy Tickets</a>
  </p>
</section>
