<div class="row">
  <div class="col-xs-4 col-sm-2 text-center">
    <p class="text-big text-bold"><%- page.time %></p>
    <p><img src="/assets/media/speakers/<%- page.photo %>" alt="Speaker" class="img-responsive center-block img-circle img-speaker"></p>
  </div>
  <div class="col-xs-8 col-sm-10">
    <p class="text-big text-bold text-uppercase">
      <% if(page.keynote) { %> Keynote: <% } %>
      <a href="<%- page.path %>"><%- page.talk %></a>
    </p>
    <p>
      <%- page.speaker %>&nbsp;<br/>
      <span style='color:#666;'><%- page.position %>&nbsp;</span><br/>
      <span style='color:#666'><%- page.company %>&nbsp;</span>
    </p>
  </div>
</div>

<hr class="border-light">
